//COLOR VARIABLES
$color-dark-blue: rgb(43, 57, 69);
$color-very-dark-blue-bg: rgb(32, 44, 55);
$color-very-dark-blue-text: rgb(17, 21, 23);
$color-dark-gray: rgb(133, 133, 133);
$color-very-light-gray: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);

//FONT VARIABLES
$default-font-family: 'Nunito Sans', sans-serif;
$homepage-font-size: 1.4rem;

//BREAKPOINT VARIABLES
$bp-large: 75em;
$bp-medium: 62.5em;
$bp-small: 31.25em;

